body {
    background-color: #0d122b; /* Deep blue/navy background */
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: white; /* Text color white */
}

input, select {
    background-color: #1A0B43; /* Dark background for input fields */
    color: white; /* Text color white */
    outline: none;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #5a6078; /* Lighter shade for the border */
}

select option {
    background-color: #1A0B43; /* Dark background for select options */
    color: white; /* Text color white */
}

input:focus, select:focus {
    border: 2px solid #f58634; /* Bright orange for focus */
}

/* Custom styles for label and input/select alignment */
.labels {
    display: flex;
    align-items: center; /* Center label text vertically */
}

.inputFields, .selectFields {
    flex-grow: 1;
    margin-left: 8px; /* Space between label and field */
}

.greenBG {
    background-color: #f58634; /* Bright orange for highlights */
    color: white;
    border-radius: 12px;
    padding: 4px 8px;
}

#mainTitle {
    text-align: center;
    margin-bottom: 30px;
}

.grid-container {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Split into two columns */
    gap: 20px;
}

.item {
    padding: 20px;
    background-color: #16203a; /* A darker shade to contrast against the body background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.item-1 {
    align-self: start;
    order: 1; /* Make sure the item-1 is on the left */
    grid-column: 1 / span 1;
}

.item-2 {
    order: 2; /* Make sure the item-2 is on the right */
    grid-column: 2 / span 1;
    font-size: 12px;
}

/* ... (other styles you provided earlier) ... */

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }

    .item {
        margin-bottom: 20px;
    }

    .item-1, .item-2 {
        order: 0; /* Reset order for smaller screens */
    }

    /* Adjust font size for readability on smaller screens */
    body, button, input, select {
        font-size: 14px;
    }

    /* Adjust padding for elements on smaller screens */
    input, select, button {
        padding: 6px;
    }

    .copyButtonContainer, .resultContainer {
        padding: 10px;
    }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .grid-container {
        max-width: 95%; /* Increase width to use more screen space */
    }

    /* Further reduce padding for very small screens */
    input, select, button {
        padding: 4px;
    }

    .item {
        padding: 15px;
    }
}
