body {
    background-color: #1A1A1D; /* Dark background color */
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

input, select {
    min-width: 300px;
    width: 50%;
    background-color: #4E4E50; /* Slightly lighter dark grey for inputs */
    color: white;
    outline: none;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #6F2232; /* Border color consistent with accent color */
    font-size: 16px;
    transition: width 0.3s ease;
}

.accentBG {
    background-color: #6F2232; /* Consistent accent color */
    color: white;
    border-radius: 50%;
    padding: 2px 2px;
    font-size: 12px;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 16px;
}

#mainTitle {
    text-align: center;
    margin-bottom: 30px;
}

.grid-container {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.item {
    padding: 20px;
    padding-bottom: 60px; /* Increased bottom padding */
    position: relative; /* Set position to relative */
    background-color: #2D2D34; /* Darker grey for item background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin: 10px;
}

.item h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #C3073F; /* Accent color for headings */
}

#generate-btn, #custom-btn {
    display: block;
    width: 80%;
    margin: 0 auto;
    position: absolute; /* Position buttons absolutely */
    bottom: 40px; /* Position from bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Align center */
    background-color: #C3073F; /* Accent color for buttons */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold; /* This line makes the text bold */
    font-size: 16px;
}

#generate-btn:hover, #custom-btn:hover {
    background-color: #950740; /* Slightly darker shade for hover effect */
}

#result {
    background-color: #FFFFFF;
    color: #1A1A1D;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 4px solid #C3073F; /* Accent color for result border */
    border-radius: 12px;
}

.resultContainer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#copy {
    text-align: center;
    color: white;
    padding: 4px 0;
    font-size: 14px;
    margin-top: 30px;
}

/* Responsive grid layout for smaller screens */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stack items vertically on small screens */
    }

    .item-1, .item-2 {
        grid-column: auto; /* Adjust grid column settings */
        padding-bottom: 90px
